.enable{
	cursor: pointer;
	width:60px;
	height:60px;
		}
.disable{
	width:60px;
	height:60px;
}
#player1 {
	background-color: #428bca;
	color: yellow;
	font-family: Lucida Console;
	font-size: 41px;
	height: 65px;
	padding: 7px 18px;
	width: 239px;
	float: left;
}
#player2 {
	background-color: #428bca;
	color: red;
	font-family: Lucida Console;
	font-size: 41px;
	height: 65px;
	padding: 7px 18px;
	width: 239px;
	float: right;
}
#player_container {
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 600px;
}
#game_container {
	/*margin: 200px 618px;*/
	/*position: absolute;*/
	width: 100%;
	text-align: center;
	margin:auto;
}
#connect4 {
	margin:auto;
}
#turn {
	color: red;			
	font-family: Comic Sans MS;
	font-size: 50px;
	/*margin: 100px 720px;*/
	/*position: absolute;*/
	/*width: 300px;*/
	width:100%;
	margin: 100px 0 10px 0;
	display: inline-block;
	text-align: center;
}
#loading {			
	/*margin-top: 100px;*/
	/*position: absolute;*/
	margin: 0 auto;
	padding: 53px 0 0 0;
	display: block;
}
#win {
	color: red;
	font-family: Comic Sans MS;
	font-size: 50px;
	/*margin: 100px 568px;*/
	/*position: absolute;*/
	/*width: 600px;*/
	width:100%;
	margin: 100px 0 10px 0;
	display: inline-block;
	text-align: center;
}
#new_game {
	/*margin: 583px 690px;*/
	/*position: absolute;*/
	width: 300px;
	margin:20px auto;
}
#marker	{
	color: #428bca;
	font-size: 36px;
	margin: 6px 20px;
	position: absolute;
}